{% extends "protocol/reset_password/password_reset_base.html" %}

{% load bootstrap3 %}

{% block title %}Setting New password{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
         <div class="col-md-offset-4 col-md-4">
             <div class="well">
                <fieldset class="form-group">
                    {% if validlink %}
                        <p>Please enter your new password twice.</p>
                        <form action="" method="post">
                            {% csrf_token %}

                            {% bootstrap_form form show_help=False %}
                            
                            <button type="submit" class="btn btn-primary pull-right" value="Reset password">
                            Submit
                            </button>
                        </form>
                    {% else %}
                        <p>The password reset link is invalid, you may request a new link.</p>
                    {% endif %}
                </fieldset> 
            </div>
        </div>
    </div>
</div>
{% endblock main %}
