{% extends "protocol/reset_password/password_reset_base.html" %}
{% load bootstrap3 %}

{% block title %}Reset Password{% endblock %}

{% block main %}
<div class="container">
	<div class="row">
		 <div class="col-md-offset-4 col-md-4">
             <div class="well">
             	<fieldset class="form-group">
             		<p>
             			Enter your email address to reset your password.
             		</p>
             		<form action="" method="post">
             			{% csrf_token %}

             			{% with form.email as field %}
             			    {% bootstrap_field field %}
             			{% endwith %}
	                    <button type="submit" class="btn btn-primary pull-right" value="Reset password">
	                    	Submit
	                    </button>
					</form>
             	</fieldset>
             </div>
         </div>
	</div>
</div>
{% endblock main %}
