{% extends 'base.html' %}

{% block page_title %}
	Add New Protocol
{% endblock page_title %}

{% block main %}
    <style type="text/css">
        table tr td{
        	text-align: center;
        	vertical-align: bottom;
        }
	    input, textarea {
		    border: none;
		    width: 100%;
		    height: 40px;
		    display: block;
		    text-align: center;
		    -webkit-box-sizing: border-box; 
		       -moz-box-sizing: border-box;
		            box-sizing: border-box; 
	    }

		input[type='number'] {
			-moz-appearance:textfield;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
    </style>

    <div class='container'>
    	<div class='row'>
    		<div class='col-md-12 text-center'>
    			<h2>Add New Protocol</h2>
    		</div>
    	</div>

    	<div class='row'>
    		<div class='col-md-4'>
    			<label>Protocol Name:</label>
    			<input type='text' class='form-control' id='protocol'>
    		</div>
    	</div>

    	<div class="row">
    		<div class='col-md-12'>
    			<label>Steps</label>
    		</div>
    	</div>
	    <div class='row'>
	    	<div class='col-md-12 table-responsive'>
			    <table id='tbSteps' class='table table-bordered table-hover table-condensed'>
			        <thead>
			        	<tr>
			        		<td width='5%'>Step</td>
			        		<td width='%'5>Day</td>
			        		<td width='20%'>Short Name</td>
			        		<td width='50%'>Detail description</td>
			        		<td width='20%'>Note</td>
			        	</tr>
			        </thead>

			        <tbody>
			        	{% for i in "123" %}
				        	<tr id="{{i}}">
				        		<td>{{i}}</td>
				        		<td><input type="number" class='form-control'></td>
			                    <td><input type="text" class='form-control'></td>
			                    <td><textarea rows='1' class='form-control'></textarea></td>
			                    <td><textarea rows='1' class='form-control'></textarea></td>
				        	</tr>
			        	{% endfor %}
			        </tbody>
			    </table>
		    </div>
	    <div>

	    <div class='row'>
	    	<div class='col-md-12'>
	    	    <button id="btnAddStep" type="button" class="btn btn-default navbar-btn navbar-right">Add one step</button>
	    	</div>
	    </div>

        <div class='row'>
        	<div class='col-md-12'>
        		<a href="{% url 'main' %}"><button id='btnCancelAddProtocol' type="button" class="btn btn-default navbar-right navbar-text">Cancel</button></a>
	            <button id='btnAddProtocol' type="button" class="btn btn-default navbar-right navbar-text">Save</button>
        	</div>
        </div>
    </div>


<script type="text/javascript">
var INVALID_PROTOCOL_NAME = 'protocol name cannot be empty';
var EMPTY_INPUT = 'can not save emtpy protol';
var INVALID_DAY_NUMBER = 'day must be integer';
var INVALID_DAY_ORDER = 'days must be in ascending order';
var INCOMPLETE_STEP = 'day, name and detail cannot be left empty';

$(document).ready(function(){
	$("#btnAddStep").bind("click", add_row);
	$("#btnAddProtocol").bind("click", save_protocol);
})

function add_row(){
	var rows = document.getElementsByTagName('tr').length;
	$("#tbSteps tbody").append(
        "<tr id=" + rows + ">" + 
        "<td>" + rows + "</td>" + 
        "<td><input type='text' class='form-control'></td>" +
        "<td><input type='text' class='form-control'></td>" +
        "<td><textarea rows='1' class='form-control'></textarea></td>" + 
        "<td><textarea rows='1' class='form-control'></textarea></td>" + 
        "</tr>"
		);
}

function save_protocol(){
	var protocol = document.getElementById('protocol').value;
	if(protocol === ''){
		alert(INVALID_PROTOCOL_NAME);
	}
	else{
		var steps = document.getElementsByTagName('tr');
		var days = []
		var names = []
		var details = []
		var notes = []
		for(var i=1; i < steps.length; i++){
			var step = steps[i];
			var day = step.cells[1].children[0].value;
			var name = step.cells[2].children[0].value;
			var detail = step.cells[3].children[0].value;
			var note = step.cells[4].children[0].value;
			days.push(day);
			names.push(name);
			details.push(detail);
			notes.push(note);
		}
		var n = validate_data(days, names, details);
		if(typeof n === typeof 'dummy'){
			alert(n);
		}
		else{
			alert('hehe');
		}
	}
}

function validate_data(days, names, details){
	var steps = days.length;
	var end = steps;
	for(var i = steps-1; i >= 0; i--){
		if(days[i] === '' && names[i] === '' && details[i] === '')
			end--;
	}
	if(end === 0){
		return EMPTY_INPUT;
	}
	var pre;
	for(var i = 0; i < end; i++){
		if(days[i] === '' || names[i] === '' || details[i] === ''){
			return INCOMPLETE_STEP;
		}
		if(!Number.isInteger(Number(days[i]))){
			return INVALID_DAY_NUMBER;
		}
		if(i==0){
			pre = days[0];
		}
		else{
			if(days[i] <= pre){
				return INVALID_DAY_ORDER;
			}
			else{
				pre = days[i];
			}
		}
	}
	return end;
}




</script>

{% endblock main %}