{% extends 'base.html' %}

{% load bootstrap3 %}

{% block header %}
{% endblock header %}

{% block main %}
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="well">
                    <fieldset class="form-group">
                        <legend>
                            Please Sign in
                        </legend>
                        <form action="" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div class="">
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary btn-block" stye='width:100%'>
                                Sign in
                                </button>
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <br>
                            <p>
                                <a href="{% url 'protocol_password_reset' %}">Forgot password?</a>
                            </p>
                            <p>
                                <a href="{% url 'registration' %}">Create a new account?</a>
                            </p>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>	
{% endblock main %}
