{% extends 'base.html' %}

{% block page_title %}
    Protocol List
{% endblock page_title %}

{% load protocol_tags %}

{% block main %}
	<div class='container'>
		<div class='row'>
			<div class='col-md-12 text-center'>
				<h2>All Available Protocols</h2>
			</div>
		</div>

		<div class='row'>
	    	<div class='col-md-12 table-responsive'>
			    <table id='tbProtocols' class='table table-striped table-bordere table-hover table-condensed'>
			        <thead>
			        	<tr>
			        		<td width='10%'>No.</td>
			        		<td width='58%'5>Name</td>
			        		<td width='42%'>Action</td>
			        	</tr>
			        </thead>

			        <tbody>
			        	{% for protocol in protocols %}
				        	<tr id="{{protocol.name}}">
				        		<td style="vertical-align:middle">{{forloop.counter}}</td>

				        		<td style="vertical-align:middle">
				        			<a style="font-size: 16px" href="{% url 'protocol_detail' protocol=protocol.name %}">{{protocol.name}}</a>
				        		</td>

			                    <td>
			                    	<button class='btnStartExperiment btn btn-primary' value='{{protocol.name}}'>Quick Start</button>
			                    	<button id="btnEditProtocol" class="btn btn-success" onclick="window.location.href = '{% url 'add_edit_protocol' %}?protocol_name={{protocol.name}}'">Edit Protocol</button>
			                    	<button class="btnDeleteProtocol btn btn-warning" value='{{protocol.name}}' name='{{protocol.ninstance}}'>Delete Protocol</button>
			                    </td>
				        	</tr>
			        	{% endfor %}
			        </tbody>
			    </table>
		    </div>
	    </div>

        <button style="display:none" id="btnNewExperimentSuceess" data-toggle="modal" data-target="#myModal"></button>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Success</h4>
						</div>
						<div class="modal-body">
							<p id="modalContent"></p>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>






	</div>

	{% include  'protocol/dynamic/protocol_list_js.html' %}

{% endblock main %}