{% load staticfiles %}
<!DOCTYPE HTML>

<html lang='en'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block page_title %}{% endblock page_title %}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'protocol/css/protocol.css' %}">
		<script type="text/javascript" src="{% static 'protocol/js/protocol.js' %}"></script>
	</head>

	<body style="height:2000px">
		{% block header %}
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:#00274c;">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'main' %}">Protocol</a>
				</div>
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{% url 'main' %}"><span class="glyphicon glyphicon-flash"></span> Ongoing Experiment</a></li>

					<li><a href="{% url 'protocol_list' %}"><span class="glyphicon glyphicon-list-alt"></span> Protocol List</a></li>

					<li><a href="{% url 'add_edit_protocol' %}"><span class="glyphicon glyphicon-pencil"></span> Add/Edit Protocol</a></li>
				</ul>
	        </nav>
		{% endblock header %}
        <div class='content'>
			{% block main %}
			{% endblock %}

			{% block footer %}
			{% endblock footer %}
	    </div>
	</body>
</html>