{% load staticfiles %}
<!DOCTYPE HTML>

<html lang='en'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block page_title %}{% endblock page_title %}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
        <link rel="stylesheet" type="text/css" href="{% static 'protocol/css/protocol.css' %}">
		<script type="text/javascript" src="{% static 'protocol/js/protocol.js' %}"></script>
	</head>

	<body style="height:800px;" background="{% static 'protocol/img/body_bg.jpg' %}">
		{% block header %}
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:#00274c;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
						<a class="navbar-brand" href="{% url 'main' %}">Protocol</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li id="Experiment"><a href="{% url 'main' %}"><span class="glyphicon glyphicon-flash"></span> Ongoing Experiment</a></li>
							<li id="Protocol_list"><a href="{% url 'protocol_list' %}"><span class="glyphicon glyphicon-list-alt"></span> Protocol List</a></li>
							<li id="Add_edit_protocol"><a href="{% url 'add_edit_protocol' %}"><span class="glyphicon glyphicon-pencil"></span> Add/Edit Protocol</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<p class="navbar-text">Welcome, <a href="{% url 'user_profile' %}" class="navbar-link">{{user.first_name}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp</p>
							<p class="navbar-text"><a href="{% url 'accept_shared_protocol' %}" class="navbar-link">Shared Protocols(<span id="shared_protocol_count">{{shared_protocol_count}}</span>)</a>&nbsp</p>
							<li class="header-item"><a href="{% url 'logout' %}"><span class="logout">Sign out</span></a></li>
						</ul>
				    </div>
				</div> 
	        </nav>
		{% endblock header %}
        <div class='content'>
			{% block main %}
			{% endblock %}

			{% block footer %}
			{% endblock footer %}
	    </div>
	</body>

<script type="text/javascript">
$(document).ready(function(){
	{% if shared_protocol_count > 0 %}
        $("#shared_protocol_count").addClass("error_msg");
	{% endif %}
})
</script>

</html>