<script type="text/javascript">
    var START_NEW_EXPERIMENT = "start new experiment";
    var DELETE_PROTOCOL = "delete protocol";
	var protocol_name;
	var action;

	$(document).ready(function(){
		$(".btnStartExperiment").bind('click', start_new_experiment);
		$(".btnDeleteProtocol").bind('click', delete_protocol);
	})

	function start_new_experiment(){
		protocol_name = this.value;
		action = START_NEW_EXPERIMENT;
		send_action_to_server(protocol_name, action)
	}

	function delete_protocol(){
		protocol_name = this.value;
		action = DELETE_PROTOCOL;
		var ninstance = Number(this.name);
		var delete_protocol_confirm_message = 'Do you want to delete this protocol?';
	    if(ninstance > 0){
	    	delete_protocol_confirm_message = 'You have ongoing experiments with this protocol, delete the protocol will also delete all the related experiments, do you want to continue to delete this protocol?';
	    }
		if(confirm(delete_protocol_confirm_message)){
			send_action_to_server(protocol_name, action);
		}
	}

	function send_action_to_server(protocol_name, acition){
		var csrftoken = getCookie('csrftoken');
		$.ajax({
			type: 'POST',
			url:"{% url 'protocol_list' %}",
			data: {'protocol':protocol_name, 'action':action},
			dataType: 'text',
			beforeSend: function(xhr, settings){
			    xhr.setRequestHeader('X-CSRFToken', csrftoken);
		    },
		    success: function(response){
		    	if(response != 'success'){
		    		alert(response);
		    	}
		    	else{
		    		if(action === DELETE_PROTOCOL){
		    			window.location.href="{% url 'protocol_list' %}";
		    		}
		    		else if(action === START_NEW_EXPERIMENT){
		    			var modal_content = "Initated new experiment following the protocol: <br><b>" + protocol_name + "</b>.";
		    			$("#modalContent").html(modal_content);
		    			$("#btnNewExperimentSuceess").trigger("click"); 
		    		}
		    	}
		    },
		});
	}

</script>